*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root_main{
    background-color: black;
     display: flex;
    flex-direction: row;
    
}
#content_descripe{
    width: 50%;
    height: 100vh;
   
}
#content_action{
    width: 50%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 2%;  
    background-color: white;
}
.title_content_descripe{
    margin-left: 5%;
    margin-top: 2%;
    color: white;
    
}
.subtitle_content_descripe{
    color: white;
    margin-left: 5%;
    text-align: justify;
    width: 80%;
}
#first_car_content, #second_car_content, #third_car_content{
    width: 70%;
    align-items: center;
    
    height: 15%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
#input_third_car_result{
    height: 20vh;
}
#input_third_car_btn{
    width: 50%;
    height: 35%;
    border-radius: 2vh;
    border-style: none;
}